.axis path, .axis line, line.xLine {
    fill: none;
    stroke-width: 1.0px;
    shape-rendering: crispEdges;
}

.axis path {
    stroke: #000;
}

.axis line {
    stroke: #ebebeb;
}

div#charts .axis.x {
    font-size: 12px;
}

.x.axis path {
    display: none;
}

.line {
    fill: none;
    stroke-width: 2.5px;
}

.deselected {
    opacity: 0.15;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

line.xLine {
    stroke: #747474;
}

.hidden {
    opacity: 0;
}
