body {
    margin: 0;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.60);
    overflow-y: hidden;
}

h1 {
    font-size: 2.3em;
    line-height: 1em;
}

h3 {
    font-size: 1.8em;
    line-height: 1em;
}

h3.company_label {
    cursor: pointer;
}

/* -------------------- 
   ACCORDION
   -------------------- */

div.slide_container {
    width: 100%;
    height: 100%;
    border: 1px solid #909090;
    background-color: #ededed;
}

div.slide_container > div {
    margin: 5px;
}

h2.selected + div > div.slide_container {
    background-color: #ffffff;
}

/* -------------------- 
   END ACCORDION
   -------------------- */


/* -------------------- 
   FORM
   -------------------- */

form#searchBox {
    width: 450px;
    position: fixed;
    top: 35%;
    left: 15%;
    vertical-align: middle;
    background-color: transparent;
}

form#searchBox input {
    font-size: 1.3em;
    padding: 8px 15px;
    height: 25px;
}

form#searchBox input.text {
    width: 260px;
    margin-right: -4px;
    background-color: #ddd;
}

form#searchBox input.button {
    background-color: #aaa;
}

form#searchBox input.button:hover {
    background-color: #777;
}

form#searchBox input.button:active {
    background-color: #444;
}
    
form#searchBox span#browse {
    color: rgba(0, 0, 0, 0.40);
    cursor: pointer;
}

form#searchBox span#browse:hover {
    color: #777;
}

form#searchBox span#browse:active {
    color: #444;
}

/* -------------------- 
   END FORM
   -------------------- */


/* -------------------- 
   MAIN/SECONDARY DIV
   -------------------- */

div.main_div {
    width: calc(100% - 6px);
}

div.main_div.split {
    width: calc(100% - 200px);
    float: left;
}

div.secondary_div {
    margin-left: 0;
    width: 180px;
    position: relative;
}

div.main_div, div.secondary_div {
    height: calc(100% - 80px);
    margin-top: 0;
    display: inline-block;
}

div.main_div > div.scroll_div {
    overflow-y: scroll;
    height: 100%;
}

div.page_top {
    height: 65px;
}

/* -------------------- 
   END MAIN/SECONDARY DIV
   -------------------- */

.ui-autocomplete { max-height: 200px; overflow-y: scroll; overflow-x: hidden;}